.profile_container {
  display: flex;
  flex-direction: row;
  max-height: 80px;
  transition: all .1s ease-in-out;
}

.profile_container:hover {
  /* border: .2px solid white; */
  border-radius: 4px;
  background-color: #52546942;
  transition: all .1s ease-in-out;
}

.profile_descriptors {
  display: flex;
  flex-direction: column;
  width: 400px;
}

h4, p {
  color: white;
  margin: 4px;
}

p {
  font-size: .7rem;
}
